/* set up some CSS variables to use throughout the application */
:root {
	--bg-green: #1a936f;
	--bg-green-hover: #147558;
	--bg-green-dark: #0f543f;
	--bg-green-darker: #0b3d2e;
	--bg-light: #dbd9db;
	--bg-white: #edeced;
	--text-light: #e7e4e7;
	--text-light-hover: #dbd9db;
}

/* use Verdana instead of default serif font */
body * {
	box-sizing: border-box;
	font-family: verdana;
	transition: all 0.2s ease;
}

body {
	margin: 0px;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.btn-primary {
		background-color: var(--bg-green);
		color: var(--text-light);
		font-weight: 700;
}
	
.btn-primary:hover {
		background-color: var(--bg-green-dark);
}

/* --- HEADER STYLES --- */
header#header {
	background: var(--bg-green-dark);
	display: flex;
	align-items: center;
	padding: 20px;
	height: 10vh;
}

header#header h1#page-title {
	margin: 0px;
	color: var(--text-light);
}

/* --- MAIN BODY --- */
main#main-wrapper {
	display: flex;
	flex-wrap: wrap;
	height: 85vh;
}

/* --- SIDEBAR NAVIGATIOIN --- */
aside#sidebar {
	flex-grow: 1;
	background: var(--bg-green);
	color: var(--bg-light);
}

aside#sidebar h2#sidebar-title {
	padding: 20px 60px 0px 30px;
}

hr.hr {
	color: var(--text-light-hover);
	margin: 30px 20px 20px 20px;
}

aside#sidebar nav ul {
	margin-block-start: 0;
	padding-inline-start: 0;
}

aside#sidebar nav ul li.navigation-link {
	list-style: none;
	width: 100%;
}

aside#sidebar nav ul li.navigation-link a {
	color: var(--text-light);
	text-decoration: none;
	display: block;
	padding: 20px 50px 20px 30px;
}

aside#sidebar nav ul li.navigation-link a:hover,
aside#sidebar nav ul li.navigation-link.active a {
	color: var(--text-light-hover);
	background-color: var(--bg-green-hover);
}

section#content {
	/* make sure the main content is much larger than sidebar */
	flex-grow: 5;
	background: var(--bg-light);
	min-width: 60ch;
}

/* --- SEARCH FORM STYLES --- */
section#content > form.search-form {
	background-color: var(--bg-white);
	display: flex;
	flex-direction: column;
	padding: 2rem 6rem;
	z-index: 2;
	border-bottom: 2px solid var(--bg-green);
}

section#content > form.search-form > input {
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
	flex-grow: 1;
	margin: 0.5rem;
}

/* --- PERSON CARD STYLES --- */
section.search-results {
	max-height: 70%;
	overflow: scroll;
	margin: 0 1rem;
	padding: 2rem 5rem;
	z-index: 1;
}

.result-card {
	background-color: var(--bg-white);
	margin: 10px;
	padding: 20px;
	border-radius: 0.5rem;
}

.result-card > h3.result-card-title {
	margin: 0;
}

.result-card .result-attributes {
	display: flex;
	gap: 4rem;
}

.result-card span.attribute-name {
	font-weight: bold;
}

/* --- NEW VEHICLE FORM STYLES --- */
h2.content-header {
	margin: 2rem 5rem 2rem;
}

form#create-new-vehicle {
	background: var(--bg-white);
	padding: 2rem;
	margin: 0 5rem 5rem;
	border-radius: 0.5rem;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 1rem;
}

form#create-new-vehicle > * {
	align-self: center;
}

form#create-new-vehicle > input[type="submit"] {
	margin-top: 1rem;
	grid-column: span 2;
}


form#create-new-vehicle input {
	padding: 10px;
	border: none;
	border-radius: 0.5rem;
}

/* --- FOOTER STYLES --- */

footer#footer {
	background: var(--bg-green-dark);
	color: var(--text-light);
	padding: 5px;
	font-size: 0.8rem;
	text-align: center;
	height: 5vh;
}
