/* set up some CSS variables to use throughout the application */
:root {
	--bg-primary: #27474e;
	--bg-primary-lighter: #3c6d78;
	--text-primary: #27474e;
	--text-primary-lighter: #3c6d78;

	--bg-light: #d6e5e8;
	--bg-white: #ffffff;
	--text-light: #e7e4e7;
	--text-gray: #aeaeae;
}

html {
	background-color: var(--bg-primary);
}

/* use Verdana instead of default serif font */
body * {
	box-sizing: border-box;
	font-family: verdana;
	transition: all 0.1s ease;
}

body {
	margin: 0px;
	min-height: 100vh;
}

header {
	grid-area: header;
}
main {
	grid-area: main;
}
aside {
	grid-area: sidebar;
}
footer {
	grid-area: footer;
}

/* USE GRID FOR PRIMARY PAGE LAYOUT */
body#container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto 5rem;
	grid-template-areas:
		"header header header header header"
		"sidebar main main main main"
		"footer footer footer footer footer";
}

textarea {
	resize: none;
}

.btn-primary {
	background-color: var(--bg-primary);
	color: var(--text-light);
	font-weight: 700;
	padding: 1rem;
	border: none;
	border-radius: 0.3rem;
}

.btn-primary:hover {
	background-color: var(--bg-primary-lighter);
}

/* --- HEADER STYLES --- */
header {
	background: var(--bg-primary);
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	margin: 10px;
	border: 1px solid rgb(0, 0, 0);
}

header h1#page-title {
	margin: 0px auto 1rem auto;
	color: var(--text-light);
	font-size: 2rem;
}

/* --- HEDADER NAVIGATIOIN --- */
header nav {
	color: var(--text-primary-lighter);
	display: flex;
	/* MAKE NAVIGATION LINKS TAKE UP WHOLE WIDTH */
	width: 100%;
}

header nav ul {
	/* REMOVE LIST STYLES USING LOCATION SELECTOR */
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
	display: flex;
	/* MAKE NAVIGATION LINKS TAKE UP WHOLE WIDTH */
	width: 100%;
}

header nav ul li {
	/* REMOVE LIST STYLES USING LOCATION SELECTOR */
	list-style: none;
	width: 100%;
	margin: 1rem;
	font-size: 1rem;
	min-width: max-content;
	text-align: center;
}

header nav ul li a {
	color: var(--text-gray);
	text-decoration: none;
	flex: 0 1 auto;
}

header nav ul li.active a,
header nav ul li a:hover {
	color: var(--text-light);
}

/* --- ASIDE / SIDEBAR --- */
aside {
	background: var(--bg-white);
	color: var(--text-gray);
	border-radius: 10px;
	border: 10px double var(--bg-primary);
	margin: 0.4rem;
	padding: 1rem;
}

aside figure#figure-one {
	margin: 0;
}

aside figure#figure-one img {
	width: 100%;
	border-radius: 5px;
}

aside figure#figure-one figcaption {
	padding: 1rem;
}

aside figure#figure-one figcaption a {
	color: var(--text-gray);
}

aside figure#figure-one figcaption a:hover {
	color: var(--text-primary);
}

/* --- MAIN BODY --- */
main#main-wrapper {
	min-height: 80vh;
	background: var(--bg-light);
	border-radius: 10px;
	border: 10px double var(--bg-primary);
	margin: 0.4rem;
	padding: 1rem;
}

section#content {
	background: var(--bg-light);
	min-height: 50vh;
}

/* --- SEARCH FORM STYLES --- */
section#content form.search-form {
	background-color: var(--bg-white);
	display: flex;
	flex-wrap: wrap;
	padding: 1rem 2rem;
	position: relative;
	border-radius: 0.3rem;
}

section#content > form.search-form > div.search-wrapper > .search-bar-icon {
	width: 1rem;
	height: 1rem;
	position: absolute;
	margin-left: 1rem;
}

section#content > form.search-form input {
	padding: 1rem 1rem 1rem 3rem;
	border: none;
	border-radius: 0.3rem;
}

section#content > form.search-form > div.search-wrapper {
	border: 1px solid var(--bg-light);
	border-radius: 0.3rem;
	margin: 0.5rem;
	width: 100%;
	display: flex;
	align-items: center;
	flex-basis: 36rem;
	flex-grow: 10;
}

section#content > form.search-form > div.search-wrapper > input.search-input {
	width: 100%;
}

section#content > form.search-form > input[type="submit"] {
	margin: 0.5rem;
	padding: 1rem 3rem;
	flex-grow: 1;
	flex-basis: 30ch;
}

/* --- PERSON CARD STYLES --- */
section.search-results {
	margin: 0 1rem;
	padding: 2rem 5rem;
}

.result-card {
	background-color: var(--bg-white);
	color: var(--text-primary);
	margin: 1rem auto;
	max-width: 60ch;
	padding-right: 1.4rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
}

.result-card > img.result-card-icon {
	border: 5px solid var(--bg-primary-lighter);
	border-radius: 50%;
	width: 9rem;
	height: 9rem;
	margin: 2rem;
}

.result-card h3.result-card-title {
	color: var(--bg-primary-lighter);
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 1.6rem;
}

.result-card .result-attributes {
	display: flex;
	gap: 3rem;
}

.result-card .attribute-missing {
	color: var(--text-gray);
}

.result-card span.attribute-name {
	color: var(--text-primary-lighter);
	font-weight: 700;
	font-size: 0.8rem;
	display: block;
}

/* --- NEW VEHICLE FORM STYLES --- */

.new-record-form-wrapper {
	max-width: 80ch;
	margin: 0 auto;
}

form.new-record-form {
	background: var(--bg-white);
	color: var(--bg-primary-lighter);
	font-weight: 700;
	padding: 2rem;
	margin: 0 5rem 5rem;
	border-radius: 0.3rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
}

form.new-record-form .form-subheader {
	grid-column: span 2;
}

form.new-record-form > * {
	align-self: center;
}

form.new-record-form > input::placeholder {
	color: var(--text-gray);
}

form.new-record-form > textarea,
form.new-record-form > select,
form.new-record-form input {
	padding: 1rem;
	border-radius: 0.3rem;
	border: 1px solid var(--bg-light);
	color: var(--text-primary-lighter);
}

form.new-record-form > input[type="submit"] {
	border: none;
	margin-top: 1rem;
	grid-column: span 2;
	color: var(--text-light);
}

/* --- FOOTER STYLES --- */

footer#footer {
	background: var(--bg-primary);
	color: var(--text-light);
	font-size: 1rem;
	text-align: center;
	padding: 1rem 0.5rem;
	margin: 0.6rem;
	border: 5px dotted var(--bg-light);
}

footer#footer p {
	margin: 0;
}

/* MEDIA QUERIES */
@media screen and (max-width: 960px) {
	body#container {
		display: flex;
		flex-direction: column;
	}
	aside#sidebar {
		max-height: 10rem;
	}
	aside#sidebar figure {
		max-height: 5rem;
		overflow: hidden;
	}
	aside#sidebar figure img {
		object-fit: contain;
		width: 100%;
	}

	section.search-results {
		padding: 2rem 0;
	}

	.result-card {
		padding: 1rem;
	}
	.result-card > img.result-card-icon {
		border: 2px solid var(--bg-primary-lighter);
		width: 4rem;
		height: 4rem;
    margin: 1rem;
	}
}
